<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycms.entity.CmsArticle">
    <!-- 插入操作 -->
	<insert id="add" parameterType="article">
	    insert into ac_content(aid,create_time,update_time,cate,author,title,content) values(#{aid},#{create_time, jdbcType=DATE, javaType=java.util.Date},#{update_time, jdbcType=DATE, javaType=java.util.Date},#{cate},#{author},#{title},#{content})
	</insert>
	<resultMap type="article" id="articleMap">
	<id property="aid" column="aid" />
	<result property="create_time" column="create_time" javaType="java.util.Date" jdbcType="DATE"></result>
	<result property="update_time" column="update_time" javaType="java.util.Date" jdbcType="DATE"></result>
	<result property="author" column="author"></result>
	<result property="title" column="title"></result>
	<result property="content" column="content"></result>
	<result property="cate" column="cate"></result>
	</resultMap>
	
	<select id="findById" resultMap="articleMap" parameterType="long">
	  select 
	  	*
	  from 
	  	ac_content
	  where 
	  	aid=#{id}
	</select>
	<update id="update" parameterType="article">
	  update ac_content set create_time=#{create_time},update_time=#{update_time},cate=#{cate},author=#{author},title=#{title},content=#{content} where aid=#{aid}
	</update>
	
	<select id="findByKey" resultType="article" parameterType="map">
	  select * from ac_content 
	  <where>
	    <if test="category !=null and category != ''">
	         cate = #{category}
	    </if>
	    <if test="datefrom != null and datefrom != ''">
	         and create_time &gt;= Date(#{datefrom}) 
	    </if>
	    <if test="dateto != null and dateto != ''">
	         and create_time &lt;= Date(#{dateto}) 
	    </if>
	    <if test="author !=null and author!= ''">
	        and author = #{author}
	    </if>
	    
	    <if test="keyw != null">
	        <foreach collection="keyw" item="key"
	        open="" separator="" close="">
	        and concat(`title`,`content`) like concat("%",#{key},"%")
	        </foreach>
	    </if>
	    
	  </where>
	  order by aid desc limit #{showPages},#{pageSize} 
	</select>

	<select id="findByKeyTotal" resultType="int" parameterType="map">
	  select count(*) from ac_content 
	  <where>
	    <if test="category !=null and category != ''">
	         cate = #{category}
	    </if>
	    <if test="datefrom != null and datefrom != ''">
	         and create_time &gt;= Date(#{datefrom}) 
	    </if>
	    <if test="dateto!= null and dateto!= ''">
	         and create_time &lt;= Date(#{dateto}) 
	    </if>
	    <if test="author !=null and author != ''">
	         and author = #{author}
	    </if>
	    <if test="keyw != null">
	        <foreach collection="keyw" item="key"
	        open="" separator="" close="">
	        and concat(`title`,`content`) like concat("%",#{key},"%")
	        </foreach>
	    </if>
	  </where>
	</select>
		<!-- 删除操作 -->
	<delete id="delete" parameterType="long">
	  delete from ac_content where aid=#{id}
	</delete>
</mapper>    