/**基本格式开始***************/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p,a {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:微软雅黑;
	color:#999;
}
ul {
	list-style:none;
}
img,a img {
	border:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.title{		/*标题类颜色*/
    font-size: 14px;
    color:#9b0000;
}

.fright{
	float:right;
}
.fleft{
	float:left;
}

/**基本格式结束***************/
body .w1000{
	width:1000px;
	margin:0 auto;
}

/*左侧导航栏通用属性*/
.pages .left
{
	width:186px;
	height:680px;
	padding:0px 10px;
	float:left;
}

.pages .left .leftNav{
	background-color:#fff;
	padding:5px 10px;
	margin-left:0px;
	margin-top:15px;
	height:460px;
}

.pages .left .leftNav li{
	margin-bottom:0px;
	width:160px;
	height:40px;
	border-bottom:1px solid #dbdbdb;
}

.pages .left .leftNav li.current{
	background-color:#a90100;
}

.pages .left .leftNav li.current a{
	color:#fff;
}

.pages .left .leftNav li:hover{
	background-color:#a90100;
}

.pages .left .leftNav li:hover a{
	color:#fff;
}

.pages .left .leftNav li a{
	display:block;
    color:#333;
	line-height:40px;
}

.pages .left .leftNav li a span{
	background:url("../images/icon111.jpg") no-repeat center center;
	background-size:4px 4px;
	float: left;
	margin:0 auto;
	height: 40px;
	width: 20px;
}

.pages .center .title_module{
	height:50px;
	margin-top:5px;
	border-bottom:2px solid #999;
}

.pages .center .title_module a{
	line-height:50px;
}

.pages .center .title_module .place{
	float:right;
}

.pages .center .article_top{
	border-bottom:1px dashed #999;
}

.pages .center .article_top .title{
	font-size:24px;
	color:#333;
	margin:20px 0 16px 0;
}

.pages .center .article_top .title{
	font-size:24px;
	color:#333;
	margin:20px 0 16px 0;
}

.pages .center .article_top .article_info{
	margin-bottom:15px;
}

.pages .center .article_top .article_info .time{
	margin-left:20px;
}

.pages .center  .article_body{
	margin-top:15px;
	overflow:hidden;
}

.pages .center  .article_body p,a{
	color:#666;
	line-height:25px;
	font-size:12px;
	color:#666;
}

.pages .center  .article_body img{
	max-width:450px;
}

.pages .center  .list_article{
	margin-top:15px;
	padding-left:10px;
}

.pages .center  .list_article li{
	margin:8px 0;
	float:left;
	background:url("../images/icon111.jpg") no-repeat 0 center;
	background-size:3px 3px;
	width:100%;
}

.pages .center  .list_article li a{
    padding-left: 12px;
	display:block;
	float:left;
	color:#333;
	line-height:12px;
}

.pages .center  .list_article li span{
	text-align:center;
	float:right;
	line-height:12px;
}

.articleview .banner{
	height:284px;
	background:#dbdbdb;
	overflow:hidden;
}

.articleview .banner .banner_img{
	width:1000px;
	height:100%;
	background:#dbdbdb;
	margin:0 auto;
	position:relative;
}

.articleview .banner .banner_img .banner_text{
	position:absolute; 
	bottom:0px; 
	width:100%; 
	height:94px; 
	background-color:rgba(0,0,0,0.6);
}

.articleview .banner .banner_img .banner_text .title_chn{
	font-size:30px;
	color:#fff;
	display:block;
	margin:10px 0 12px 20px;
}

.articleview .banner .banner_img .banner_text .title_eng{
	font-size:12px;
	color:#aaa;
	display:block;
	margin-left:20px;
}

.articleview .mainbody{
	width:1000px;
	margin:0 auto;
	position:relative;
}

.articleview .center{
	width:520px;
	margin-right:30px;
}

.articleview .right
{
	width:206px;
	padding:30px 0 24px 0px;
	float:right;
	background:url("../images/left_bg.jpg") no-repeat 0 center;
	overflow:hidden;
}

.articleview .right .leftNav{
	margin-left:23px;
}

.articleview .right .leftNav li{
	margin-bottom:16px;
	background-color:#fff;
	width:160px;
	height:50px;
}

.articleview .right .leftNav li a{
	display: block;
    font-size: 14px;
    line-height: 50px;
    color:#9b0000;
}
	
.articleview .right .leftNav li a span{
	float:left;
	margin:5px 8px 0 10px;
    height:40px;
    width: 40px;
	background-repeat: no-repeat;
}

.articleview .right .leftNav li #left_1 span{
	background:url("../images/icons.png")  no-repeat scroll 0 0;
}
.articleview .right .leftNav li #left_2 span{
	background:url("../images/icons.png")  no-repeat scroll -40px 0;
}
.articleview .right .leftNav li #left_3 span{
	background:url("../images/icons.png")  no-repeat scroll -80px 0;
}
.articleview .right .leftNav li #left_4 span{
	background:url("../images/icons.png")  no-repeat scroll 0 0;
}
.articleview .right .leftNav li #left_5 span{
	background:url("../images/icons.png")  no-repeat scroll -40px 0;
}
.articleview .right .leftNav li #left_6 span{
	background:url("../images/icons.png")  no-repeat scroll -120px 0;
}
.articleview .right .leftNav li #left_7 span{
	background:url("../images/icons.png")  no-repeat scroll -160px 0;
}

.articleview .right #QRcode{
	margin-top:60px;
	margin-left:43px;
	height:120px;
}
.articleview .right #QRcode img{
	width:120px;
	height:120px;
}

/*搜索页*/
.articleview #logoImg{
	height:100px;
	background: url("../images/title_bg.jpg") no-repeat center right;
    background-size: auto 100px;
	border-bottom: 5px solid #a90100;
}
	
.articleview .search{
	height:30px;
	margin:15px 0;
}

.articleview .search input{
	height:30px;
	line-height:30px;
	width:300px;
	float:left;
	border:1px solid #ddd;
	border-radius:5px;
}

.articleview .search a{
	height:30px;
	line-height:30px;
	width:100px;
	text-align:center;
	color:#fff;
	font-size:14px;
	background-color:#7ac4ff;
	display:block;
	float:left;
	margin-left:10px;
	border-radius:5px;
}

.articleview .search_result{
	width:750px;
	height:1000px;
	padding-right:30px;
	border-right:1px solid #ddd;
}

.articleview .search_result li{
	margin-bottom:10px;
	float:left;
	width:100%;
}

.articleview .search_result li .title{
	height:30px;
	width:100%;
}

.articleview .search_result li .title a{
    padding-left: 12px;
	display:block;
	float:left;
	font-size:14px;
	color:#333;
	line-height:30px;
	background:url("../images/icon111.jpg") no-repeat 0 center;
	background-size:3px 3px;
}

.articleview .search_result li a.label{
	display:block;
	float:left;
	font-size:12px;
	color:#333;
}

.articleview .search_result li a.label_content{
	display:block;
	float:left;
	font-size:12px;
	color:#666;
	margin-right:15px;
}

.articleview .search_result li .title span{
	text-align:center;
	float:right;
	line-height:30px;
	font-size:12px;
	color:#333;
}

.articleview .search_result li .content{
	clear:both;
	width:100%;
}

.articleview .search_result li .content p{
	text-indent:2em; 
}

/*用户注册页*/
.userinput{
	margin:30px auto;
	width:540px;
	background:#f8f8f8;
	border:1px solid #dddddd;
}

.userinput .title{
	border-bottom:1px solid #dddddd;
}
.userinput .title span{
	display:block;
	height:80px;
	line-height:80px;
	width:100%;
	font-size:32px;
	color:#333;
	background:#fff;
	text-align:center;
	
}

.userinput .infoBox{
	padding:20px 30px;
}

.userinput .one_row label{
	display:block;
	float:left;
	width:110px;
	height:40px;
	line-height:40px;
	text-align:right;
	margin-right:20px;
	color:#333;
	font-size:14px;
}
.userinput .ff input{
	display:block;
	float:left;
	color:#333;
	height:40px;
	width:300px;
	border:1px solid #ddd;
	border-radius:5px;
}

.userinput .ff input#key{
	width:130px;
	margin-right:20px;
}

.userinput .ff span#key{
	height:40px;
	display:block;
	float:left;
	margin:0 auto;
}

.userinput .ff .one_row{
	margin:20px 0px;
	height:40px;
	width:100%;
}
.userinput  #next,.ok_btn{
	height:50px;
	width:100%;
	margin:10px auto;
	background-color:#609d41;
	color:#fff;
	font-size:18px;
}

.userinput  #login{
	height:50px;
	width:100%;
	margin:50px 0 10px 0;
	background-color:#609d41;
	color:#fff;
	font-size:18px;
}


.userinput  select{
	height:40px;
	width:300px;
	border:1px solid #ddd;
	border-radius:5px;
}
.userinput  select#province{
	height:40px;
	width:140px;
	margin-right:20px;
}
.userinput  select#city{
	height:40px;
	width:140px;
}

.userinput  .user .sex{
	float:left;
}

.userinput  .user .sex a{
	display:block;
	float:left;
	margin-right:30px;
	height:40px;
	width:100px;
	font-size:14px;
	line-height:40px;
	border:1px solid #ddd;
	color:#333;
}

.userinput  .user .sex .selected{
	background-color:#7ac4ff;
	border:1px solid #59a6e3;
	color:#fff;
}

.userinput  .user .sex .selected span{
	width:30px;
}

.userinput  .user .sex span{
	display:block;
	float:left;
	height:40px;
	width:15px;
	background:url('../images/yes.png') no-repeat center center;
	background-size:25px 25px;
	margin:0 10px 0 15px;
}

.userinput  .rember_me{
	margin-left:130px;
	float:left;
	width:150px;
}

.userinput  .rember_me label{
	display:block;
	float:left;
	width:60px;
	height:25px;
	line-height:25px;
	text-align:left;
	color:#333;
	font-size:12px;
}

.userinput  .rember_me input{
	height:15px;
	margin-top:5px;
	width:30px;
	font-size:12px;
}

.userinput  .rember_me{
	margin-left:130px;
	float:left;
	width:180px;
}

.userinput  .forget_password{
	float:left;
	width:120px;
}

/*用户中心页*/
.ucenter .left #QRcode {
    margin-left: 33px;
}

.ucenter .left{
	margin-right:0px;
}

.ucenter .center {
    width: 765px;
	float:right;
	margin-right:0px;
}

.ucenter .center a{
    text-decoration:none;
}

.ucenter .center .info_basic{
	width:100%;
	margin:30px 0 15px 0;
	height:200px;
	padding-bottom:25px;
	border-bottom:1px dashed #999;
}

.ucenter .center .info_basic .uimage{
	width:200px;
	height:200px;
	border-radius:5px;
	float:left;
	overflow:hidden;
	margin-right:30px;
}

.ucenter .center .info_basic #username{
	margin:135px 0 15px 0;
}

.ucenter .center .info_basic #username a{
	height:30px;
	line-height:30px;
	font-size:20px;
}

.ucenter .center .info_detail{
	width:100%;
}

.ucenter .center .info_detail li{
	display:block;
	width:100%;
	height:30px;
}

.ucenter .center .info_detail .title{
	width:200px;
	height:30px;
	line-height:30px;
	display:block;
	float:left;
	margin-right:30px;
	color:#333;
}

.ucenter .center .info_detail .value{
	height:30px;
	line-height:30px;
	float:left;
}

.ucenter .center .one_row{
	height:40px;
}

.ucenter .center label{
	height:30px;
	line-height:30px;
	width:100px;
	display:inline-block;
	color:#333;
	font:14px;
}

.ucenter .center input{
	height:30px;
	line-height:30px;
	width:200px;
	color:#333;
	border: 1px solid #ddd;
	border-radius:3px;
	font:14px;
}

.ucenter .center .info_detail label{
	width:120px;
}

.ucenter .center .info_detail input{
	width:250px;
}




