/**基本格式开始***************/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p,a {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:微软雅黑;
	color:#999;
}
ul {
	list-style:none;
}
img,a img {
	border:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.title{		/*标题类颜色*/
    font-size: 14px;
    color:#9b0000;
}

/**基本格式结束***************/
body .w1000{
	width:1000px;
	margin:0 auto;
}

.articleview .banner{
	height:284px;
	background:#dbdbdb;
	overflow:hidden;
}

.articleview .banner .banner_img{
	width:1000px;
	height:100%;
	background:#dbdbdb;
	margin:0 auto;
	position:relative;
}

.articleview .banner .banner_img .banner_text{
	position:absolute; 
	bottom:0px; 
	width:100%; 
	height:94px; 
	background-color:rgba(0,0,0,0.6);
}

.articleview .banner .banner_img .banner_text .title_chn{
	font-size:30px;
	color:#fff;
	display:block;
	margin:10px 0 12px 20px;
}

.articleview .banner .banner_img .banner_text .title_eng{
	font-size:12px;
	color:#aaa;
	display:block;
	margin-left:20px;
}

.articleview .mainbody{
	width:1000px;
	margin:0 auto;
	position:relative;
}

.articleview .left
{
	width:186px;
	height:680px;
	padding:0px 10px;
	float:left;
}

.articleview .left .leftNav{
	background-color:#fff;
	padding:5px 10px;
	margin-left:0px;
	margin-top:15px;
	height:460px;
}

.articleview .left .leftNav li{
	margin-bottom:0px;
	width:160px;
	height:40px;
	border-bottom:1px solid #dbdbdb;
}

.articleview .left .leftNav li.current{
	background-color:#a90100;
}

.articleview .left .leftNav li.current a{
	color:#fff;
}

.articleview .left .leftNav li:hover{
	background-color:#a90100;
}

.articleview .left .leftNav li:hover a{
	color:#fff;
}

.articleview .left .leftNav li a{
	display:block;
    color:#333;
	line-height:40px;
}

.articleview .left .leftNav li a span{
	background:url("../images/icon111.jpg") no-repeat center center;
	background-size:4px 4px;
	float: left;
	margin:0 auto;
	height: 40px;
	width: 20px;
}

.articleview .center{
	width:520px;
	margin-right:30px;
}

.articleview .center .title_module{
	height:50px;
	margin-top:5px;
	border-bottom:2px dashed #999;
}

.articleview .center .title_module a{
	line-height:50px;
}

.articleview .center .title_module .place{
	float:right;
}

.articleview .center .article_top{
	border-bottom:1px dashed #999;
}

.articleview .center .article_top .title{
	font-size:24px;
	color:#333;
	margin:20px 0 16px 0;
}

.articleview .center .article_top .title{
	font-size:24px;
	color:#333;
	margin:20px 0 16px 0;
}

.articleview .center .article_top .article_info{
	margin-bottom:15px;
}

.articleview .center .article_top .article_info .time{
	margin-left:20px;
}

.articleview .center  .article_body{
	margin-top:15px;
	overflow:hidden;
}

.articleview .center  .article_body p,a{
	color:#666;
	line-height:25px;
	font-size:12px;
	color:#666;
}

.articleview .center  .article_body img{
	max-width:450px;
}

.articleview .center  .list_article{
	margin-top:15px;
	padding-left:10px;
}

.articleview .center  .list_article li{
	margin:8px 0;
	float:left;
	background:url("../images/icon111.jpg") no-repeat 0 center;
	background-size:3px 3px;
	width:100%;
}

.articleview .center  .list_article li a{
    padding-left: 12px;
	display:block;
	float:left;
	color:#333;
	line-height:12px;
}

.articleview .center  .list_article li span{
	text-align:center;
	float:right;
	line-height:12px;
}

.articleview .right
{
	width:206px;
	padding:30px 0 24px 0px;
	float:right;
	background:url("../images/left_bg.jpg") no-repeat 0 center;
	overflow:hidden;
}

.articleview .right .leftNav{
	margin-left:23px;
}

.articleview .right .leftNav li{
	margin-bottom:16px;
	background-color:#fff;
	width:160px;
	height:50px;
}

.articleview .right .leftNav li a{
	display: block;
    font-size: 14px;
    line-height: 50px;
    color:#9b0000;
}
	
.articleview .right .leftNav li a span{
	float:left;
	margin:5px 8px 0 10px;
    height:40px;
    width: 40px;
	background-repeat: no-repeat;
}

.articleview .right .leftNav li #left_1 span{
	background:url("../images/icons.png")  no-repeat scroll 0 0;
}
.articleview .right .leftNav li #left_2 span{
	background:url("../images/icons.png")  no-repeat scroll -40px 0;
}
.articleview .right .leftNav li #left_3 span{
	background:url("../images/icons.png")  no-repeat scroll -80px 0;
}
.articleview .right .leftNav li #left_4 span{
	background:url("../images/icons.png")  no-repeat scroll 0 0;
}
.articleview .right .leftNav li #left_5 span{
	background:url("../images/icons.png")  no-repeat scroll -40px 0;
}
.articleview .right .leftNav li #left_6 span{
	background:url("../images/icons.png")  no-repeat scroll -120px 0;
}
.articleview .right .leftNav li #left_7 span{
	background:url("../images/icons.png")  no-repeat scroll -160px 0;
}

.articleview .right #QRcode{
	margin-top:60px;
	margin-left:43px;
	height:120px;
}
.articleview .right #QRcode img{
	width:120px;
	height:120px;
}


/*用户注册页*/
.userinput{
	margin:30px auto;
	width:538;
	background:#f8f8f8;
	border:1px solid #dddddd;
}

.userinput .title{
	border-bottom:1px solid #dddddd;
}
.userinput .title span{
	display:block;
	height:80px;
	line-height:80px;
	width:100%;
	font-size:32px;
	color:#333;
	background:#fff;
	text-align:center;
	
}

.userinput .info_input{
	padding:0 30px;
}

.userinput #ff label{
	display:block;
	float:left;
	width:80px;
	height:40px;
	line-height:40px;
	text-align:right;
	margin-right:15px;
	color:#333;
	font-size:14px;
}
.userinput #ff input{
	display:block;
	float:left;
	color:#333;
	height:40px;
	width:300px;
}

.userinput #ff input#imagecode{
	width:150px;
}

.userinput #ff span#imagecode{
	width:150px;
	height:40px;
	display:block;
	float:left;
	margin:0 auto;
}

.userinput #ff .one_row{
	margin:20px 0px;
	height:40px;
	width:100%;
}
.userinput  #next{
	height:50px;
	width:100%;
	margin:10px auto;
	background-color:#609d41;
	color:#fff;
	font-size:18px;
}

.userinput  #login{
	height:50px;
	width:100%;
	margin:50px 0 10px 0;
	background-color:#609d41;
	color:#fff;
	font-size:18px;
}





