<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycms.entity.user.CmsOrgLegBranches">
    <!-- 插入操作 -->
	<insert id="add" parameterType="orgLegBranches">
	    insert into org_leg_branches(branch_id, uid, title) values(#{branch_id}, #{uid}, #{title})
	</insert>
	
	<resultMap type="orgLegBranches" id="orgLegBranchesMap">
	<id property="branch_id" column="branch_id" />
	<result property="uid" column="uid" />
	<result property="title" column="title"></result>
	</resultMap>
	
	<select id="findById" resultMap="orgLegBranchesMap" parameterType="long">
	  select 
	  	*
	  from 
	  	org_leg_branches
	  where 
	  	branch_id=#{id}
	</select>
	
	<update id="update" parameterType="orgLegBranches">
	  update org_leg_branches set uid=#{uid}, title=#{title} where branch_id=#{branch_id}
	</update>
	
	<select id="findByKey" resultType="orgLegBranches" parameterType="map">
	  select * from org_leg_branches 
	  <where>
	    <if test="uid !=null and uid != ''">
	         uid = #{uid}
	    </if>
	  </where>
	  order by branch_id desc limit #{showPages},#{pageSize} 
	</select>

	<select id="findByKeyTotal" resultType="int" parameterType="map">
	  select count(*) from org_leg_branches 
	  <where>
	    <if test="uid !=null and uid != ''">
	         uid = #{uid}
	    </if>
	  </where>
	</select>
	
	<!-- 删除操作 -->
	<delete id="delete" parameterType="long">
	  delete from org_leg_branches where branch_id=#{id}
	</delete>
</mapper>    