<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycms.entity.user.CmsUserLoginInfo">
    <!-- 插入操作 -->
	<insert id="add" parameterType="loginInfo">
	    insert into user_login_info(uid,username,password,create_time,update_time,uwechatid,head_image, status) 
	    values(#{uid},#{username}, #{password}, #{create_time, jdbcType=DATE, javaType=java.util.Date},#{update_time, jdbcType=DATE, javaType=java.util.Date},#{uwechatid},#{head_image},#{status})
	</insert>
	<resultMap type="loginInfo" id="userLoginMap">
	<id property="uid" column="uid" />
	<result property="create_time" column="create_time" javaType="java.util.Date" jdbcType="DATE"></result>
	<result property="update_time" column="update_time" javaType="java.util.Date" jdbcType="DATE"></result>
	<result property="username" column="username"></result>
	<result property="password" column="password"></result>
	<result property="uwechatid" column="uwechatid"></result>
	<result property="head_image" column="head_image"></result>
	<result property="status" column="status"></result>
	</resultMap>
	
	<select id="findById" resultMap="userLoginMap" parameterType="long">
	  select 
	  	*
	  from 
	  user_login_info	
	  where 
	  	uid=#{id}
	</select>
	
	<update id="update" parameterType="loginInfo">
	  update user_login_info set create_time=#{create_time},update_time=#{update_time},username=#{username},password=#{password},head_image=#{head_image}, uwechatid=#{uwechatid}, status=#{status} where uid=#{uid}
	</update>
	
	<select id="findByKey" resultType="loginInfo" parameterType="map">
	  select * from user_login_info 
	  <where>
	    <if test="username!=null and username!= ''">
	         username = #{username}
	    </if>
	    <if test="datefrom != null and datefrom != ''">
	         and create_time &gt;= Date(#{datefrom}) 
	    </if>
	    <if test="dateto != null and dateto != ''">
	         and create_time &lt;= Date(#{dateto}) 
	    </if>
	    
	    <if test="uwechatid!=null and uwechatid!= ''">
	        and uwechatid = #{uwechatid}
	    </if>
	    
	    <if test="status !=null and status!='' or status==0">
	        and status = #{status}
	    </if>
	    
	  </where>
	  order by uid desc limit #{showPages},#{pageSize} 
	</select>

	<select id="findByKeyTotal" resultType="int" parameterType="map">
	  select count(*) from user_login_info
	  <where>
	 	    <if test="username!=null and username!= ''">
	         username = #{username}
	    </if>
	    <if test="datefrom != null and datefrom != ''">
	         and create_time &gt;= Date(#{datefrom}) 
	    </if>
	    <if test="dateto != null and dateto != ''">
	         and create_time &lt;= Date(#{dateto}) 
	    </if>
	    
	    <if test="uwechatid!=null and uwechatid!= ''">
	        and uwechatid = #{uwechatid}
	    </if>
	    
	    <if test="status !=null and status != ''">
	        and status = #{status}
	    </if>
	  </where>
	</select>
		<!-- 删除操作 -->
	<delete id="delete" parameterType="long">
	  delete from user_login_info where uid=#{id}
	</delete>
</mapper>    